<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>3DC Open House</title>
</head>
<body>
    <div class="body">
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>

        <div class="scanlines"></div>

        <div class="container">
            <p class="retro-title">◆ 3DC Open House ◆</p>

            <div class="sound-wave">♪ *BEEP BOOP* ♪</div>

            <div class="buttons-container">
                <div class="pixel-button">
                    <a href="car_racing" class="button-link">
                        <div class="button-body">
                            <span class="pixel-heart"></span> Car Racing
                        </div>
                        <div class="sparkle"></div>
                        <div class="sparkle"></div>
                        <div class="sparkle"></div>
                        <div class="sparkle"></div>
                    </a>
                </div>

                <div class="pixel-button">
                    <a href="super_mario" class="button-link">
                        <div class="button-body">
                            <span class="pixel-heart"></span> Super Mario
                        </div>
                        <div class="sparkle"></div>
                        <div class="sparkle"></div>
                        <div class="sparkle"></div>
                        <div class="sparkle"></div>
                    </a>
                </div>

                <div class="pixel-button">
                    <a href="subway_surfers" class="button-link">
                        <div class="button-body">
                            <span class="pixel-heart"></span> Subway Surfers
                        </div>
                        <div class="sparkle"></div>
                        <div class="sparkle"></div>
                        <div class="sparkle"></div>
                        <div class="sparkle"></div>
                    </a>
                </div>

                <div class="pixel-button">
                    <a href="geometry_classic" class="button-link">
                        <div class="button-body">
                            <span class="pixel-heart"></span> Geometry Dash
                        </div>
                        <div class="sparkle"></div>
                        <div class="sparkle"></div>
                        <div class="sparkle"></div>
                        <div class="sparkle"></div>
                    </a>
                </div>

                <div class="pixel-button">
                    <a href="apple_worm" class="button-link">
                        <div class="button-body">
                            <span class="pixel-heart"></span> Apple Worm
                        </div>
                        <div class="sparkle"></div>
                        <div class="sparkle"></div>
                        <div class="sparkle"></div>
                        <div class="sparkle"></div>
                    </a>
                </div>

                <div class="pixel-button">
                    <a href="fruit_ninja" class="button-link">
                        <div class="button-body">
                            <span class="pixel-heart"></span> Fruit Ninja
                        </div>
                        <div class="sparkle"></div>
                        <div class="sparkle"></div>
                        <div class="sparkle"></div>
                        <div class="sparkle"></div>
                    </a>
                </div>
            </div>

            <p class="description">
                ► Try to play without the keyboard! ◄
            </p>
        </div>
    </div>
</body>
</html>